* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-style: 100%;
  line-height: 1;
  font-style: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-style: inherit;
  font-weight: 400;
}

body {
  font-size: 16px;
}

select, input, button, option {
  display: inline-block;
  font-size: 16px;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 0%;
  min-width: 100px;
  margin: 15px 10px 0 10px;
  color: #000;
}

select {
  height: 35px;
  max-width: 400px;
}

button {
  background: gainsboro;
}
button:hover {
  background: transparent;
}

.btn-passive {
  background: whitesmoke;
  color: grey;
  border-color: grey;
}
.btn-passive:hover {
  background: whitesmoke;
  color: grey;
  border-color: grey;
  cursor: auto;
}

.btn-export {
  background: #A0CADE;
}

.btn-report {
  background: #A5E6B2;
}

#input-output-value {
  width: 120px;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 -10px;
}

.tables {
  margin-bottom: 30px;
  margin: 0 -10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}

.ul-block {
  display: flex;
  flex-direction: column;
}
.ul-block button {
  align-self: flex-end;
}
.ul-block .ul-report-btn {
  align-self: flex-end;
}

.ul {
  max-width: 360px;
  margin: 15px 10px 0 10px;
  border: 0.5px solid #000;
}
.ul li {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.ul li:hover {
  background: gainsboro;
}
.ul li .name {
  width: 100%;
}
.ul li .amount {
  width: 130px;
  text-align: center;
}
.ul li span {
  padding: 5px 10px;
  border: 0.5px solid #000;
}

.ul-report {
  max-width: 800px;
  margin: 15px 10px 0 10px;
  border: 0.5px solid #000;
}
.ul-report li {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.ul-report li:hover {
  background: gainsboro;
}
.ul-report li .name {
  width: 100%;
}
.ul-report li input {
  display: inline-block;
  font-size: 16px;
  padding: 5px 10px;
  border: 0.5px solid #000;
  border-radius: 0%;
  width: 100px;
  margin: 0;
  color: #000;
  text-align: center;
}
.ul-report li input:nth-child(6) {
  border-right: 1px solid black;
}
.ul-report li .hide {
  border: 0.5px solid white;
  outline: 0.5px solid white;
  margin-left: 0.5px;
}
.ul-report li .sign {
  width: 100px;
  text-align: center;
  padding-top: 4.5px;
  background: white;
  margin: 0 0.5px;
  color: grey;
  outline: 0.5px solid white;
}
.ul-report li .sign:hover {
  cursor: pointer;
  color: black;
}
.ul-report li span {
  padding: 5px 10px;
  border: 0.5px solid #000;
}

.ul-last .delete {
  background: transparent;
  min-height: 100%;
  width: 30px;
  border: 0.5px solid black;
  position: relative;
  cursor: pointer;
}
.ul-last .delete__cross {
  position: absolute;
  top: 11px;
  right: 14.5px;
}
.ul-last .delete__cross::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 1.5px;
  background: red;
  transform: rotate(45deg);
}
.ul-last .delete__cross::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 1.5px;
  background: red;
  transform: rotate(-45deg);
}

.listProducts {
  margin: 15px 10px 0 10px;
  height: 38px;
}
.listProducts__input {
  min-width: 300px;
  height: 100%;
  margin: 0;
}
.listProducts__ul-block {
  width: 300px;
  position: relative;
  top: -2px;
  z-index: 10;
  border: 1px solid black;
}
.listProducts__ul {
  width: 100%;
  max-height: 400px;
  overflow: auto;
  display: block;
  background: white;
}
.listProducts li {
  display: none;
  padding: 10px;
  cursor: pointer;
}
.listProducts li:hover {
  background: gainsboro;
}

img {
  height: 16px;
  width: 16px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 10;
  padding-top: 200px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}
.modal__content {
  background: gainsboro;
  width: fit-content;
  margin: 0 auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.modal input {
  margin: 50px 30px;
}/*# sourceMappingURL=style.css.map */