@import "./nullstyle.scss";
body {
    font-size: 16px;
}
select, input, button, option {
    display: inline-block;
    font-size: 16px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 0%;
    min-width: 100px;
    margin: 15px 10px 0 10px;
    color: #000;
}
select{
    height: 35px;
    max-width: 400px;
}
button{
    background: gainsboro;
    &:hover{
        background: transparent;
    }
}
.btn-passive{
    background: whitesmoke;
    color: grey;
    border-color: grey;
    &:hover{
        background: whitesmoke;
        color: grey;
        border-color: grey;
        cursor: auto;
    }
}
.btn-export{
    background: #A0CADE;
}
.btn-report{
    background: #A5E6B2;
}
.btn-func {
    background: #F7D6CB;
}
#input-output-value{
    width: 120px;
}
h3{
    font-size: 20px;
}
h4{
    font-size: 16px;
}


.container {
    // background: red;
    width: 90%;
    margin: 0 auto;
}
.header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin:  0 -10px;
}
.tables{
    margin-bottom: 30px;
    margin: 0 -10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
}
.adding {
    background: #C4ECFF;
    border: 1px solid black;
    padding: 10px;
    width: 400px;
    margin: 15px 10px 0 10px;
    display: flex;
    flex-direction: column;
    // .adding__title
    &__title {
        h3{
            // background: grey;
        }
        input{
            width: 350px;
            // background: green;
            // margin: 0;
        }

    }
    // .adding__category
    &__category {
        padding: 10px 0;
    }
    // .adding__radioElem
    &__radioElem {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 5px 0;
        input{
            // background: green;
            margin: 0;
            min-width: fit-content;
            // padding: 20px;
        }
        h4, h3{
            // background: grey;
            margin: 0 10px;
        }
        &_second{
            margin-left: 20px;
        }
    }
    //.adding__btn
    &__btn{
        min-width: 100px;
        width: fit-content;
    }
}

.ul-block{
    display: flex;
    flex-direction: column;
    button{
        // width: max-content;
        align-self: flex-end;
        // padding: 5px 10px;
    }
    .ul-report-btn{
        // background: red;
        max-width: 800px;
        align-self: flex-end;
        flex-wrap: wrap;
    }
}
.ul{
    // background: grey;
    max-width: 360px;
    // width: 360px;
    margin: 15px 10px 0 10px;
    border: 0.5px solid #000;
    li{
        width: 100%;
        // background: red;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &:hover{
            background: gainsboro;;
        }
        .name{
            width: 100%;
            // flex-grow: 1;
        }
        .amount{
            width: 130px;
            text-align: center;
        }
        span{
            padding: 5px 10px;
            border: 0.5px solid #000;
        }
    }
}
.ul-report{
    // max-width: 360px;
    max-width: 800px;
    margin: 15px 10px 0 10px;
    border: 0.5px solid #000;
    li{
        width: 100%;
        // background: red;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &:hover{
            background: gainsboro;
            // .delete__cross{
            //     display: flex;
            // }
        }
        .name{
            width: 100%;
            // flex-grow: 1;
        }
        input{
            display: inline-block;
            font-size: 16px;
            padding: 5px 10px; //
            border: 0.5px solid #000; //
            border-radius: 0%;
            width: 100px; //
            margin: 0; //
            color: #000;
            text-align: center; //
            &:nth-child(6){
                border-right: 1px solid black;
            }
        }
        // .amount{
        //     width: 130px;
        //     text-align: center;
        // }
        .hide{
            border: 0.5px solid white; //
            outline: 0.5px solid white;
            margin-left: 0.5px;
            // background: red;
        }
        .sign{
            width: 100px;
            text-align: center;
            padding-top: 4.5px;
            background: white;
            margin: 0 0.5px;
            color: grey;
            // border: 0.5px solid white; //
            outline: 0.5px solid white;
            &:hover{
                cursor: pointer;
                color: black;
            }
        }
        span{
            padding: 5px 10px;
            border: 0.5px solid #000;
        }
    }
    .delete{
        background: white;
        min-height: 100%;
        width: 30px;
        outline: 0.5px solid white;
        position: relative;
        cursor: pointer;
        &__cross{
            // display: none;
            position: absolute;
            top: 11px;
            right: 11px;
            &::after{
                content: '';
                position: absolute;
                width: 12px;
                height: 1.5px;
                background: red;
                transform: rotate(45deg);
            }
            &::before{
                content: '';
                position: absolute;
                width: 12px;
                height: 1.5px;
                background: red;
                transform: rotate(-45deg);
            }
        }
    }
}
.ul-last{
    &:hover{
        // cursor: pointer;
    }
.delete{
    background: transparent;
    min-height: 100%;
    width: 30px;
    border: 0.5px solid black;
    position: relative;
    cursor: pointer;
    &__cross{
        position: absolute;
        top: 11px;
        right: 14.5px;
        &::after{
            content: '';
            position: absolute;
            width: 12px;
            height: 1.5px;
            background: red;
            transform: rotate(45deg);
        }
        &::before{
            content: '';
            position: absolute;
            width: 12px;
            height: 1.5px;
            background: red;
            transform: rotate(-45deg);
        }
    }
}
}

.listProducts {
    margin: 15px 10px 0 10px;
    height: 40px;
    // .listProducts__input
    &__input {
        min-width: 300px;
        height: 100%;
        margin: 0;
    }
    // .listProducts__ul-block
    &__ul-block {
        width: 300px;
        position: relative;
        top: -2px;
        z-index: 10;
        border: 1px solid black;
    }
    // .listProducts__ul
    &__ul {
        width: 100%;
        max-height: 400px;
        overflow: auto;
        display: block;
        background: white;
    }
    li{
        display: none;
        padding: 10px;
        cursor: pointer;
        &:hover{
            background: gainsboro;
        }
    }
}
img{
    height: 16px;
    width: 16px;
}
.modal {
    display: none;
    position: fixed;
    z-index: 10;
    padding-top: 200px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
    // .modal__content
    &__content {
        background: gainsboro;
        width: fit-content;
        margin: 0 auto;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    }
    input{
        // padding: 0;
        margin: 50px 30px;
    }
}
.modal-load {
    display: none;
    position: fixed;
    z-index: 10;
    padding-top: 200px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
    // .modal__content
    &__content {
        background: gainsboro;
        width: fit-content;
        margin: 0 auto;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    }
    &__text{
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        padding: 10px;
        color: #000;
        margin: 50px 30px;
    }
}

.report-input{
    // width: 100%;
    min-width: 670px;
    // height: 100%;
    // margin: 0;
}